@import "./core/reset";
@import "./core/variables";

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #b9b5c3, #3e3f3f);
  height: 20vh;
  padding: 0;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; // Ajusta la imagen sin distorsionar
}

.main {
  flex-grow: 1;
  justify-content: center; // Centra el contenido horizontalmente
  align-items: center; // Centra el contenido verticalmente
  margin: 0;
  background-color: #f5c73d;
  display: flex;
  flex-direction: column;
}

.form__container {
  gap: 10px;
  width: 100%; // Asegura que el contenedor ocupa todo el ancho disponible
  max-width: 400px; // Ajusta el ancho máximo del contenedor
  margin-top: 50px;
}

.form-group {
  display: flex; // Alinea el label y el input horizontalmente
  align-items: center; // Alinea verticalmente en el centro
}

label {
  margin-right: 10px; // Espacio entre el label y el input
  white-space: nowrap; // Evita que el texto del label se ajuste a una nueva línea
  width: 200px; // Ajusta el ancho del label para mantener una alineación consistente
  font-size: 30px;
  font-family: "Grey Qo", system-ui;
  font-weight: 600;
  font-style: normal;
}

.form__input-text {
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1; // El input se expande para ocupar el espacio restante
  height: 20px; // Ajusta la altura para que coincida con el label
  background-color: #d9d4d4;
  color: rgb(30, 30, 30);
  width: 100%;
  max-width: 600px; /* Set a max-width for the section */
  box-sizing: border-box;
}
.form__select {
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1; // El input/select se expande para ocupar el espacio restante
  height: 34px;
  color: rgb(30, 30, 30);
  background-color: #d9d4d4;
  text-align: center;
}
.form__select:focus {
  background-color: #d9d4d4; // Color de fondo gris más claro al enfocar
}

.characters {
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Añade espacio interno a los lados para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total */
}

.cards {
  gap: 10px;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
}

.card {
  background-color: #faf3f3;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Grey Qo", system-ui;
  font-weight: 500;
  width: 200px;
  max-width: 100%;
}

.card__img {
  width: 100%;
  height: 300px; /* Establece una altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}

.card__tittle {
  font-family: "Grey Qo";
  font-weight: 600;
  font-size: 40px;
  margin-top: -5px;
}

.card__specie {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el contenido verticalmente */
  font-size: 30px;
  font-weight: 500;
  color: black;
  border-radius: 50%;
  background-color: #d9d4d4;
  height: 40px;
  width: 100%;
}
.card__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query para adaptar el grid a pantallas más pequeñas */

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
